h3{text-align: center;}
h4{background-color: gray;color: red}
p{background-color: #CECECE}
#mor {color: #A600FF}
#pers {font-weight: bold;color:blue;text-decoration: underline;}
#tiempo {color: green}